@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.mainSection {
  padding: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
}

.headerDescription {
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: center;
  color: #2a2c1f;

  display: flex;
  flex-direction: column;
  gap: 21px;
}

.headerDescription p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: #65665c;
}

.infoCardsContainer {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
