.sectionProducts {
  background-color: #f5f5f2;
}

.cardContent {
  background-color: #fff;
}

.cardContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardTextContent {
    padding: 24px;
}

