@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.mainSection {
    display: flex;
    justify-content: center;
}

.container {
    width: 90vw;
}

.firstSection {
    width: max-content;
    display: grid;
    place-items: center;
    height: 600px;
}

.didYou {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #2A2C1F;
    text-align: left;

}

.homeAgain {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #65665C;
}

.gray-btn {
    width: 107px;
    height: 29px;
    border-radius: 32px;
    background-color: #E7E8E3;

    font-family: "Roboto", sans-serif;
    color: #2A2C1F;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
   border: none;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}