@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", "Helvetica Neue";
}

.footerUp {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 64px 80px;
}

.blockPages {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blockPages a {
  color: #2a2c1f;
  text-decoration: none;

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.subscribeBTN {
  display: flex;
  gap: 5px;
}

input {
  width: 241px;
  height: 48px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  border: 1px black;
  padding-left: 10px;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footerBotoomPartOne {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footerBotoomPartTwo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footerBotoomPartTwo svg {
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.facebook:hover {
  color: #1877f2;
}
.instagram:hover {
  color: #f740d6;
}
.twitter:hover {
  color: #1da1f2;
}
.twitter:hover {
  color: #1da1f2;
}
.linkedin:hover {
  color: #0077b5;
}

.footerBottom {
  padding: 25px 180px;
  background-color: #f5f5f2;
}

.blockPagesEnd {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blockPagesEnd p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #65665c;
  margin: 0;
}

.blockPagesEnd span {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #65665c;
  margin: 0;
}
