.customButton {
  padding: 9px 21px;
  background-color: rgba(207, 111, 73, 1);
  border-radius: 6px;
  border: 1px solid rgba(207, 111, 73, 1);
  transition: all 0.3s ease;

  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.customButton:hover {
  transform: scale(1.05);
  background-color: rgba(255, 111, 73, 1);
  border-color: rgba(255, 111, 73, 1);
}
